{% extends "base.html" %}
{% load static %}
{% block titre %}
    Accueil
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/accueil.css' %}">
{% endblock %}

{% block content %}

<section class="presentation">
    <article>
        <h2 class="featurette-heading fw-normal lh-1">Bienvenue chez Les Partenariats d'Excellence !</h2>
        <p>L’association Les Partenariats d’Excellence (LPE) est une association dont les actions sont menées par les étudiants de l’Institut-Mines Télécom Business School et de Telecom SudParis.
        Notre association a pour objectif de favoriser l’égalité des chances en mettant en place chaque semaine, le jeudi plus précisément, deux séances de tutorat au collège Galilée, à Évry Courcouronnes (91). Elle participe aussi aux Cordées de la Réussite, en faisant diverses interventions sur l’orientation dans des lycées et collèges appartenant au Grand Paris Sud. <br><br><div class="text">Toutes ces actions nous permettent de lutter en faveur de l’égalité des chances et de leur donner les ressources possibles afin d’aider les collégiens et les lycéens à faire de grandes études.</div></p>
    </article>
</section>

{% include 'base/banner.html' %}

<section>
    <div id="videoo">
      <div class="py-3 video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/l1uNNt6PoBo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
</section>

{% endblock content %}
