{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">
{% endblock %}

{% block content %}

<section class="sms">
        <h2><br>Vous pouvez nous contactez si vous avez la moindre question <br> grâce à notre contact ou notre formulaire !</h2>
          
      <div class="separation"></div>
  </section>
        <section class="main" id="contact">
          
            
          
            <div class="left">
                    <h1>Nos informations</h1>
                    <div class="separation"></div>
                    <p class="coordonnees">9 rue Charles Fourier<br>91000 EVRY-COURCOURONNES<br><br>Adresse mail :</p><a class="mail"
href="mailto:asso-lpe@imtbs_tsp.eu"><p>asso-lpe@imtbs-tsp.eu</p>
              <div class="reseaux">
              
                    <a href="https://www.facebook.com/LesPartenariatsdExcellence/"><img src="https://cdn.pixabay.com/photo/2015/05/17/10/51/facebook-770688_1280.png" alt="LogoFacebook"/><button onclick="window.location.href = 'https://www.facebook.com/LesPartenariatsdExcellence';">Facebook</button></a>
                    <a href="https://www.instagram.com/lespartenariatsdexcellence/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/2048px-Instagram_icon.png" alt="LogoInstagram"/><button onclick="window.location.href = 'https://www.instagram.com/lespartenariatsdexcellence/';">Instagram</button></a>
                    <a href="https://www.linkedin.com/company/les-partenariats-d-excellence/"><img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LogoLinkedin"/><button onclick="window.location.href = 'http://www.linkedin.com/company/les-partenariats-d-excellence';">LinkedIn</button></a>
                   
            </div>
          </div>
            
            <div class="right">
    <form>
      <h1>Contactez-nous</h1>
      <div class="separation"></div>
      <div class="corps-formulaire">
        <div class="gauche">
          <div class="groupe">
            <label>Votre Prénom</label>
            <input type="text" autocomplete="off" />
            <i class="fas fa-user"></i>
          </div>
          <div class="groupe">
            <label>Votre adresse e-mail</label>
            <input type="text" autocomplete="off" />
            <i class="fas fa-envelope"></i>
          </div>
          <div class="groupe">
            <label>Votre téléphone</label>
            <input type="text" autocomplete="off" />
            <i class="fas fa-mobile"></i>
          </div>
        </div>

        <div class="droite">
          <div class="groupe">
            <label>Message</label>
            <textarea placeholder="Saisissez ici..."></textarea>
          </div>
        </div>
      </div>

      <div class="pied-formulaire" align="center">
        <button>Envoyer le message</button>
      </div>
    </form>
           
            </div>
           
        </section>
        
        <section class="map" id="localisation">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2637.1977618442666!2d2.4403964157846865!3d48.625197579265254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e5e0a678593769%3A0xfb272e89f467e76f!2s9%20Rue%20Charles%20Fourier%2C%2091000%20%C3%89vry-Courcouronnes!5e0!3m2!1sfr!2sfr!4v1656019541678!5m2!1sfr!2sfr" width=100% height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
{% endblock content %}




