{% extends "base.html" %}
{% load static %}
{% block head %}
    <link href='https://dl.dropboxusercontent.com/s/dcgtnlepsegtqxk/style.css' rel='stylesheet'/>

    <link rel="stylesheet" type="text/css" href="{% static 'css/nous.css' %}">

{% endblock %}

{% block content %}


<section id="petitbureau">
{% for Pole in Poles %}
  <div>
    <div class="title">
      <h2>{{Pole.Designation}}</h2>
      <h3>{{Pole.DescriptionPole}}</h3>
    </div>
    <div class="separation"></div>
    <div class="petitbureau">
      {% for MembreBureau in Bureau %}
        {% if MembreBureau.CategorieRole|stringformat:'s' == Pole.Designation|stringformat:'s' %}
          <div class="prez">
            <img class="personne" src="../../upload/{{MembreBureau.Photo}}">
            <div class="text">
                <h1>{{MembreBureau.Prenom}} {{MembreBureau.Nom}}</h1><h3><strong>{{MembreBureau.Role}}</strong></h3>
              <p class="desc">{{MembreBureau.DefinitionRole}}</p>
                <a href="{{MembreBureau.FaceBook}}"><i class="icon-FACEBOOK"></i></a>
                <a href="{{MembreBureau.Instagram}}"><i class="icon-INSTAGRAM"></i></a>
                <a href="{{MembreBureau.Linkedin}}"><i class="icon-LINKEDIN"></i></a>
            </div>
          </div>
        {% endif %}
      {% endfor %}
  </div>
{% endfor %}
</section>

<script src="{% static 'js/nous.js' %}"></script>

{% endblock content %}
