{% extends "base.html" %}
{% load static %}
{% block head %}

{% endblock %}


{% block content %}
    <h2>{{ eleve }}</h2>
    <table>
        {% for statu in eleve.status %}
            <tr style="background-color: {% if statu.present %}greenyellow{% else %}orangered{% endif %}">
                <th>
                    {{ statu.appelle }}
                </th>
                <td>
                    {{ statu.present }}
                </td>
            </tr>
        {% endfor %}
    </table>
    <form method="post">
    {% csrf_token %}
    <label for="delete">Pour supprimer écrivez "delete"</label>
    <input type="text" name="delete" id="delete">
    <input type="submit">
    </form>
{% endblock content %}
