{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/liste.css' %}">
{% endblock %}


{% block content %}
    <section class="container pt-5 pb-5">
        <div class="row">
          <div class="col-sm-4">
            <div class="card text-bg-light">
              <div class="card-body">
                <form action="/GestionEleves/newEleve/" method="post">
                    {% csrf_token %}
                    <h5 class="card-title">Nouveau élève</h5>
                    <table>
                         {{ newEleveForm.as_table }}
                    </table>
                    <input type="submit" value="Créer">
                </form>
                </br>
                <h5 class="card-title">Liste élève</h5>
                <ul>
                    {% for eleve in eleves %}
                        <li><a href="/GestionEleves/eleve/{{ eleve.id }}">{{ eleve }}</a></li>
                    {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card text-bg-light">
              <div class="card-body">
                <form action="/GestionEleves/newGroupe/" method="post">
                    {% csrf_token %}
                    <h5 class="card-title">Nouveau Groupe</h5>
                    <table>
                         {{ newGroupeForm.as_table }}
                    </table>
                    <input type="submit" value="Créer">
                </form>
                </br>
                <h5 class="card-title">Liste groupe</h5>
                <ul>
                    {% for groupe in groupes %}
                        <li><a href="/GestionEleves/groupe/{{ groupe.id }}">{{ groupe }}</a></li>
                    {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card text-bg-light">
              <div class="card-body">
                <h5 class="card-title">Liste Présence</h5>
                <ul>
                    {% for appelle in appelles %}
                        <li>{{ appelle }}</li>
                    {% endfor %}
                </ul>
                <form action="/GestionEleves/getAppel/" method="get">
                    <input type="submit" value="En xls">
                </form>
              </div>
            </div>
          </div>
        </div>
    </section>
{% endblock content %}
