
<!-- mettre la vidéo en priorité, en haut : difficulté et niveau puis le td et ensuite le corrigé : bouton en bas tout télécharger -->

{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/sass" href="{% static 'css/cours.sass' %}">
    <script>
      function resizeIframe(obj) {
        obj.style.height = (obj.contentWindow.document.body.scrollHeight + 200) + 'px';
      }
    </script>
{% endblock %}


{% block content %}
    <section id="hautdepage">
        {% if user.is_authenticated %}
            <a href="/CoursCordees/ad/cours/{{ cours.id }}">Modifier le cours</a>
        {% endif %}
        <p>{% for classe in cour.classes %}{{ classe.nom }}{% endfor %}</p>
    </section>
        <section id="video">
            <video width="320" height="240" controls>
                  <source src=”http://techslides.com/demos/sample-videos/small.ogv” type=video/ogg> <source src="LIEN DE LA VIDEO" type=video/mp4> <!-- lien de la vidéo à mettre-->
                </video>
        </section>
    <section id="cours">
        <iframe srcdoc='
            <html>
                <head>

                </head>
                <body>
                    {{ cours.safetext | safe }}
                </body>
            </html>
        ' width="100%" onload='resizeIframe(this)'>
        </iframe>

    </section>
    <ul>
        {% for file in cours.fichiers %}
            <li>
                <a href="{{ file.fichier.url }}">{{ file }}</a>
            </li>
        {% endfor %}
    </ul>

{% endblock content %}
