{% extends "base.html" %}
{% load static %}
{% block titre %}
    Accueil
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/lycee.css' %}">
        
        
        
{% endblock %}

{% block content %}

<section id="hautDePage">
    <h1>Nos Interventions au Lycée</h1>
    <p>Avec notre lycée, Georges Brassens, nous organisons des interventions et plus encore pour les élèves de la seconde jusqu’à la terminale dans le cadre des Cordées de la Réussite. Voici les différents projets que nous leur proposons :</p>
</section>

{% for cour in cours %}
    {% include 'CoursCordees/vignetteCours.html'%}
{% endfor %}
{% if user.is_authenticated %}
    <a href="/ad/cours/">Nouvelle Intervention</a>      <!-- voir ça avec la base de données -->
{% endif %}
 <div class="separation"></div>
<!--carrousel d'images-->
<section id="carrousel">
    <div>
      <div class="carousel">
        <ul class="slides">
          <input type="radio" name="radio-buttons" id="img-1" checked />
          <li class="slide-container">
            <div class="slide-image">
                <img src="LIEN PHOTO"> <!-- lien de photo à mettre-->
            </div>
            <div class="carousel-controls">
              <label for="img-3" class="prev-slide">
                <span>&lsaquo;</span>
              </label>
              <label for="img-2" class="next-slide">
                <span>&rsaquo;</span>
              </label>
            </div>
          </li>
          <input type="radio" name="radio-buttons" id="img-2" />
          <li class="slide-container">
            <div class="slide-image">
              <img src="LIEN PHOTO"> <!-- lien de photo à mettre-->
            </div>
            <div class="carousel-controls">
              <label for="img-1" class="prev-slide">
                <span>&lsaquo;</span>
              </label>
              <label for="img-3" class="next-slide">
                <span>&rsaquo;</span>
              </label>
            </div>
          </li>
          <input type="radio" name="radio-buttons" id="img-3" />
          <li class="slide-container">
            <div class="slide-image">
              <img src="LIEN PHOTO"> <!-- lien de photo à mettre-->
            </div>
            <div class="carousel-controls">
              <label for="img-2" class="prev-slide">
                <span>&lsaquo;</span>
              </label>
              <label for="img-1" class="next-slide">
                <span>&rsaquo;</span>
              </label>
            </div>
          </li>
          <div class="carousel-dots">
            <label for="img-1" class="carousel-dot" id="img-dot-1"></label>
            <label for="img-2" class="carousel-dot" id="img-dot-2"></label>
            <label for="img-3" class="carousel-dot" id="img-dot-3"></label>
          </div>
        </ul>
      </div>
    </div>
</section>
   
{% endblock content %}
