:root {
    --bg: #fdfdfd;
    --highlight1: #961A25;
    --highlight2: #FFEDBC;
    --color: #1a1e24;
    --font-number: Roboto, Helvetica, Arial, sans-serif;
    --font-head: Roboto, "Space Mono", Consolas, Menlo, Monaco, "Courier New", monospace;
    --font: Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
    font-family: 'Roboto', sans-serif;
}


#hautDePage {
  background-color: #961A25;
  font-size: 17px;
  letter-spacing: 2.5px;
  font-weight: 500;
  color:  #FFFFFF;
  text-align: center;
  padding: 1%;
}

#hautDePage h1 {
  text-transform: uppercase;
}

#hautDePage p {
  font-size: 14px;
  letter-spacing: 2.5px;
  font-weight: 500;
  text-align: center;
}

.separation {
  width: 90%;
  height: 1px;
  background-color: #961A25;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: auto;
  margin-right: auto;
}

.text {
  color: rgba(150,26,37,0.8);
}

.first {
  display: flex;
  margin: 3%;
  margin-left: 7%;
  justify-content: space-evenly;
  align-items: center;
}




.second {
  display: flex;
  margin: 3%;
  margin-left: 7%;
  justify-content: space-evenly;
  align-items: center;
}

.third {
  display: flex;
  margin: 3%;
  margin-left: 7%;
  justify-content: space-evenly;
  align-items: center;
}

.first .right {
  flex: 48%;
  margin-left: 5%;
}

.third .right{
  flex: 48%;
  margin-left: 5%;
}

.second .right {
  flex: 48%;
  margin-left: 5%;
}

img {
  margin: 0%;
  max-width: 100%;
    height: auto;
  
}

video {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 700px) {
  .first, .second, .third {
    flex-direction: column;
  }
  
  
  
}
