@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

#hautDePage {
  background-color: #961A25;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  letter-spacing: 2.5px;
  font-weight: 500;
  color:  #FFFFFF;
  text-align: center;
  padding: 1%;
}

#hautDePage h1 {
  text-transform: uppercase;
}






