@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  font-family: 'Roboto', sans-serif;

  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}
#section01 {
  position: relative;
  width: 100%;
  height: 100%;
}
#section01::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
}
#section01 h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  color: #fff;
  font : normal 300 64px/1 'Roboto', sans-serif;
  text-align: center;
  white-space: nowrap;
}

#section01 { background-image: url("../img/bureau.jpg");}

.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Roboto', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}



#section01 a {
  padding-top: 60px;
}
#section01 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(-45deg);
  box-sizing: border-box;
}


.petitbureau, .cordees, .citoyennete, .comRE {
  display:flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.petitbureau > div, .citoyennete > div, .cordees > div, .comRE > div {
  display:flex;
  flex-direction: column;
  margin: 3% 3% 3% 7%;
  justify-content: space-evenly;
  align-items: center;
  height: 398px;
  width: 23%;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  text-align: center;

}

.personne {
  height:43%;
  margin: 2%;
  border-radius: 50%;
}

.petitbureau > div > div, .cordees > div > div, .citoyennete > div > div, .comRE > div > div {
  flex: 1%;
}

.title {
  background-color: rgba(150,26,37,0.9);
  text-align: center;
  padding: 2%;
  color: #fff;
  text-transform: uppercase;

}

.title h2 {

  font-size: 35px;
  letter-spacing: 2.5px;
  font-weight: 500;

}

.title h3 {

  font-size: 15px;
  letter-spacing: 1.5px;
  font-weight: 500;
}


[class^="icon-"], [class*=" icon-"] {

  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 29px;
  color:#474748;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a {
  text-decoration: none;
}

.text {
  margin: 1%;
}

.text h1 {
  font-size: 14px;
  font-weight: normal;
}

.text h3 {
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1.5px;
  font-weight: 500;
  color: #961A25;
}

.text p {
  text-align: justify;
  font-size: 14px;
  letter-spacing: 1.5px;
  font-weight: 500;
  margin: 10% 2% 12%;

}

.separation {
  width: 100%;
  height: 1px;
  background-color: #961A25;
  margin-top: 1%;
  margin-bottom: 20px;
}

.comRE > div:hover, .cordees > div:hover, .petitbureau > div:hover, .citoyennete > div:hover {
   background-color: #961A25;
  box-shadow: 0px 15px 20px rgba(150,26,37,0.4);
  color: #fff;
  transform: translateY(-7px);
}


@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {

    transform: translateY(0);
  }
  40% {

    transform: translateY(-30px);
  }
  60% {

    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {

    transform: translateY(0);
  }
  40% {

    transform: translateY(-30px);
  }
  60% {

    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {

    -ms-transform: translateY(0);

    transform: translateY(0);
  }
  40% {

    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}




@media (max-width: 768px) {

  .petitbureau, .cordees, .citoyennete, .comRE {
    flex-direction: column;
    width: 100%;
  }

}

@media screen and (min-width:320px) and (max-width:767px) and (orientation:landscape) {

  #section01 { background-image: url("../img/bureau.jpg");}
  .petitbureau, .cordees, .citoyennete, .comRE {
    flex-direction: column;
    width: 100%;
  }
}


