@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");


* {
  font-family: 'Roboto', sans-serif;
}



.first, .second {
  display: flex;
  margin: 3%;
  margin-left: 7%;
  justify-content: space-evenly;
  align-items: center;

}


.second .left {
  
  flex: 100%;
  margin: 2%;

  
}

.second .right {
  
  flex: 80%;
  
}

.first .right {
  
  flex: 85%;
  
}

.titre {
  color: #000000;
  text-align: justify;
  margin-right: 10%;
  letter-spacing: 1.5px;
  font-weight: 500;
   font-size: 25px;
}

.text {
  color: rgba(150,26,37,0.8);
  font-size: 25px;
}


.first .right {

 display: grid;
  grid-gap: 1em;
  width: 100%;
  height: 100%;
  grid-template-areas:
    "galilee  pauleluard"
    "levillage brassens";

 
}

.galilee {
  grid-area: galilee;
  position: relative;
}

.pauleluard {
  
  grid-area: pauleluard;
  position: relative;
  
}

.levillage {
  grid-area: levillage;
  position: relative;
}

.brassens {
  grid-area: brassens;
  position: relative;
}

.second .left {
  
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas:
    "gps imtbs tsp"
    "unesco lovgroup deloitte";
  
}

.gps {
  grid-area: gps;
  position: relative;
}

.imtbs {
  grid-area: imtbs;
  position: relative;
}


.tsp {
  grid-area: tsp;
  position: relative;
}

.unesco {
  grid-area: unesco;
  position: relative;
}

.lovgroup {
  grid-area: lovgroup;
  position: relative;
}

.deloitte {
  grid-area: deloitte;
  position: relative;
}

.location-image {
  line-height: 0;
  overflow: hidden;
}

.location-image img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
  width: 100%;
  padding: 3%;
  width : 220px;
  height : 180px;
  
}

.second .left .location-image img {
    padding: 9%;
  width : 240px;
 height : 200px;
}

.location-title {
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s;
  background: rgba(90,0,10,0.4);
  color: #fff;
  font-size: 14px;
  letter-spacing: 2.5px;
  font-weight: 500;
  text-align: center;
  
  /* position the text in t’ middle*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.galilee:hover .location-title, .levillage:hover .location-title, .pauleluard:hover .location-title, .brassens:hover .location-title,
.lovgroup:hover .location-title,
.unesco:hover .location-title,
.gps:hover .location-title,
.tsp:hover .location-title,
.imtbs:hover .location-title,
.deloitte:hover .location-title{
  opacity: 1;
  color: #fff;
}

.galilee:hover .location-image img, .levillage:hover .location-image img, .pauleluard:hover .location-image img, .brassens:hover .location-image img,
.lovgroup:hover .location-image img,
.unesco:hover .location-image img,
.gps:hover .location-image img,
.tsp:hover .location-image img,
.imtbs:hover .location-image img{
  filter: blur(2px);
}

/* for touch screen devices */
@media (hover: none) {
  .location-title {
    opacity: 1;
  }
  .location-image img {
    filter: blur(2px);
  }
}

 .separation {
  width: 60%;
  height: 1px;
  background-color: #961A25;
  margin-left: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 700px) {
  .first, .second {
    flex-direction: column;
  }
  
.first .right {
    grid-template-areas:
    "galilee"
    "pauleluard"
    "levillage"
    "brassens";
  
  }
  .second .left {
    grid-template-areas:
    "gps"
    "imtbs"
    "tsp"
    "unesco"
    "lovgroup"
    "deloitte";
  }
  
}


