@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
    font-family: 'Roboto', sans-serif;
}

#hautDePage {
  background-color: #961A25;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color:  #FFFFFF;
  text-align: center;
}


.separation {
  width: 60%;
  height: 1px;
  background-color: #961A25;
  margin-left: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}


.first {
  margin-top: 2%;
  text-align: justify;
}

.Activite {
  display:flex;
  margin: 3%;
  margin-left: 7%;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
 
  
}



 .Activite .image {
    flex: 50%;
    margin-left: 5%;
    margin-right: 3%;
  }

.Activite .desc {
  margin: 3%;
  text-align: justify;
}

.Activite:hover{
  background-color: #961A25;
  box-shadow: 0px 15px 20px rgba(150,26,37,0.4);
  color: #fff;
  transform: translateY(-7px);
}

img {
  margin: 3%;
  max-width: 100%;
    height: auto;
  
}
 
@media screen and (max-width: 700px) {
  .Activite {
    flex-direction: column;
  }

}
  
 
  



