@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");



* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  
  font-family: 'Roboto', sans-serif;
  color: #9E9E9E;
  margin-top: 30px;
}



.card {
  background: white;
  width: 250px;
  display: inline-block;
  margin: auto;
  border-radius: 14px;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 9999;
}



.card__image {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/barbarian-bg.jpg');
  position: relative;
  height: 230px;
  margin-bottom: 35px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;

}


.card__image img {
  width: 70%;
  position: center;
}


.card__level {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
  color: #961A25;
}




.card__unit-name {
  
  text-transform: uppercase;
  font-size: 23px;
  color: black;
  font-weight: 900;
  margin-bottom: 8%;
}



.card__unit-stats--barbarian {
  background-color: #961A25;

}
.card__unit-stats--barbarian .one-third {
     border-right: 1px solid #fff;
  }




.card__unit-stats {

  color: white;
  font-weight: 700;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px

}

  .card__unit-stats .one-third {
    width: 33%;
    float: left;
    padding: 20px 15px;
  }
  
  sup {
    position: absolute;
    bottom: 4px;
    font-size: 45%;
    margin-left: 2px;
  }
  
  .stat {
    position: relative;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .stat-value {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
  }

  .stat-value .no-border {
    border-right: none;
  }


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.slick-prev {
  left: 100px;
  z-index: 999;
}

.slick-next {
  right: 100px;
  z-index: 999;
}
