{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'home/css/styles.css' %}">
	{% block head %}
	{% endblock head %}
	<title>{% block titre %}{% endblock titre %} - Les Partenariats d'Excellence</title>
</head>
<body>
    <header>
        <div class="bandeau">
            <img src="{% static '/home/img/logo.png' %}">
            <h1><span>Les Partenariats d'Excelle<span class="chapeau">n<img src="{% static '/home/img/épingles.png' %}" width="30px"></span>ce</span></h1>
            <img src="{% static '/home/img/crayons.png' %}">
            <img src="{% static '/home/img/école.png' %}">
            <img src="{% static '/home/img/bus.png' %}">
            <img src="{% static '/home/img/livres.png' %}">
        </div>


        <nav>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li id="nav-matieres">
                    <a href="/matieres/">Nos Matières</a>
                    <div class="sous-liste">
                        <div></div>
                        <ul>
                            {% for matiere in matieres %}
                            <li><a href="/matieres/{{ matiere.id }}/">{{ matiere.nom }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>

                </li>
                <li><a href="/orientation/">S'orienter</a></li>
                <li><a href="/cordees/">Interventions Cordées</a></li>
                <li><a href="/projets/">Nos Projets</a></li>
                <li><a href="/contact/">Contactez-nous</a></li>
                {% if user %}
                    <li><a href="/contact/">Présence</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
	    {% endblock content %}
    </main>
	


</body>
</html>
