{% extends "home/base.html" %}

{% block content %}
<section id="articleContactezNous">
   <div>
        <article id="cadreContactezNous">
            <h1>Contactez-<br/>nous !</h1>
        </article>
   </div>
    <div>
        <article id="reseaux">
            <div class="LesresauxSo"><a href="https://www.facebook.com/LesPartenariatsdExcellence/"><img src="{% static 'home/img/facebook.png' %}" alt="LogoFacebook"/><p>Les Partenariats d'Excellence</p></a></div>
                <div class="LesresauxSo"><a href="https://www.instagram.com/lespartenariatsdexcellence/"><img src="{% static 'home/img/instagram.png' %}" alt="LogoInstagram"/><p>@lespartenariatsdexcellence</p></a></div>
                <div class="LesresauxSo"><a href="https://www.linkedin.com/company/les-partenariats-d-excellence/"><img src="{% static 'home/img/linkedin.png' %}" alt="LogoLinkedin"/><p>Les Partenariats d'Excellence</p></a></div>
                <div class="LesresauxSo"><a href="mailto:lpe.imtbs.tsp@gmail.com"><img src="{% static 'home/img/mail.png' %}" alt="LogoMail"/><p>lpe.imtbs.tsp@gmail.com</p></a></div>
        </article>
    </div>
</section>
{% endblock content %}
