{% extends "home/base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/cordees.css' %}">
{% endblock %}


{% block content %}
<section id=hautDePage">
    <img src="#" alt="crayons Décoration Titre"/>
    <h1>Nos interventions Cordées</h1>
    <img src="#" alt="crayons Décoration Titre"/>
</section>
<section id="PrésentationDesInterventions">
			<div>
				<article id="conferenceOrientation">
                    <img src="#" alt="image Collège"/>
                    <p>Conférence sur l'orientation auprès de collégiens de classe de 3eme.<br> Le thème ? <strong>"Choisir un métier que j'aime, en se connaissant soi-même".</strong><br>Au menu : motivation, confiance en soi et présentation de filières post collège/bac</p>
				</article>
                <article>
                    <img src="#" alt="image Cartable"/>
                    <p>Organisation de la Journée Nationale des Cordées</p>
                </article>
            </div>
            <div>
                <article>
                    <img src="#" alt="image Bus"/>
			         <p>Organisation de visites culturelles et d'une ville européenne</p>
                </article>
                <article>
                    <img src="#" alt="image Tuteur"/>
                     <p>Proposition de Mentorat et d'un partenariat avec un "Lycée d'Excellence"</p>
				</article>
			</div>
</section>

{% endblock content %}
