{% extends "home/base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/matieres.css' %}">
{% endblock %}

{% block content %}
<section id="hautDePage">
    <img src="{% static 'home/img/crayons.png' %}" alt="crayons Décoration Titre"/>
    <h1>Nos orientations</h1>
    <img src="{% static 'home/img/crayons.png' %}" alt="crayons Décoration Titre"/>
</section>
{% for cour in cours %}
    {% include 'home/vignetteCours.html'%}
{% endfor %}
{% if user.is_authenticated %}
    <a href="/ad/cours/">Nouvel article</a>
{% endif %}
{% endblock content %}
