{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/matieres.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/VignetteCours.css' %}">
{% endblock %}

{% block content %}

<section id="hautDePage">
    <h1>{{cours.matiere}}</h1>
</section>
    {% for cour in cours %}
        {% include 'Articles/vignetteCours.html'%}
    {% endfor %}
    {% if user.is_authenticated %}
        <a href="/Articles/ad/cours/">Nouveau Cours</a>
    {% endif %}

{% endblock content %}
